In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [20]:
# Study data file
sales_data_path = "C:/Users/cghos/Desktop/group-project/project1_saledata.csv"

# Read the data 
sales_data = pd.read_csv(sales_data_path)
sales_data

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-02-29,2008-03-31,2008-04-30,2008-05-31,2008-06-30,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
0,102001,0,United States,country,NaN,180000.0,185000.0,185000.0,187110.0,193000.0,...,330000.0,345000.0,360000.0,365000.0,365000.0,355000.0,349000.0,341307.0,335000.0,329000.0
1,394913,1,"New York, NY",msa,NY,404920.0,399000.0,399451.0,400000.0,405000.0,...,516500.0,525000.0,540000.0,546500.0,570000.0,585000.0,580000.0,560000.0,540000.0,534450.0
2,753899,2,"Los Angeles, CA",msa,CA,505000.0,495000.0,500000.0,490000.0,482000.0,...,865000.0,900000.0,935000.0,934000.0,915000.0,890000.0,878000.0,865000.0,853250.0,850000.0
3,394463,3,"Chicago, IL",msa,IL,239000.0,237500.0,240000.0,240000.0,250000.0,...,270000.0,280000.0,300000.0,306000.0,315000.0,310000.0,300000.0,285000.0,279000.0,280000.0
4,394514,4,"Dallas, TX",msa,TX,137000.0,144500.0,143500.0,145874.0,154900.0,...,368000.0,387000.0,415000.0,425000.0,424167.0,410000.0,400000.0,388000.0,385000.0,375000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,395004,853,"Prineville, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,406900.0,546500.0,402000.0,495000.0,399950.0,395000.0,532450.0,410000.0,350000.0,488950.0
612,394322,861,"Altus, OK",msa,OK,NaN,NaN,NaN,NaN,NaN,...,169950.0,115000.0,195000.0,229000.0,206000.0,152800.0,164000.0,184750.0,116250.0,137500.0
613,394418,867,"Brookings, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,465000.0,420000.0,500000.0,415000.0,475000.0,467500.0,445000.0,485000.0,445000.0,385000.0
614,395239,884,"Worthington, MN",msa,MN,NaN,NaN,NaN,NaN,NaN,...,178000.0,169500.0,206250.0,175450.0,184000.0,197000.0,170000.0,193000.0,194000.0,174113.0
615,786253,914,"Brownsville, TN",msa,TN,NaN,NaN,NaN,NaN,NaN,...,125000.0,150000.0,172500.0,135500.0,170000.0,150500.0,190000.0,182000.0,158800.0,155500.0

In [23]:
Seattle_df=sales_data[sales_data["RegionName"] == "Seattle, WA"]
Seattle_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-02-29,2008-03-31,2008-04-30,2008-05-31,2008-06-30,...,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30
15,395078,15,"Seattle, WA",msa,WA,334990.0,330000.0,337000.0,336950.0,335000.0,...,653000.0,706000.0,740000.0,750000.0,720000.0,680000.0,665000.0,660000.0,669950.0,630000.0

In [28]:
Tampa_df=sales_data[sales_data["RegionName"] == "Tampa, FL", "Seattle, WA"]
Tampa_df

InvalidIndexError: (0      False
1      False
2      False
3      False
4      False
       ...
611    False
612    False
613    False
614    False
615    False
Name: RegionName, Length: 616, dtype: bool, 'Seattle, WA')